<head>
    <title>Ну че ранарод, погнали?!</title>
    <style>
        * { box-sizing: border-box }
        body { margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; font-family: 'Roboto', sans-serif; }
        form { display: flex; flex-direction: column; width: 75%; max-width: 1024px; }
        textarea { resize: vertical; min-height: 150px; margin-bottom: 15px; }
        #pastaboloniese { height: 450px }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <form method='POST' action='/upload'>
        <label for='pastaboloniese'>Сгениророванный текст</label>
        <textarea id='pastaboloniese' readonly></textarea>
        <label for='send'>Отправить</label>
        <textarea type="text" name="text" id='send'></textarea>
        <input type="submit" class='button' value="Отправить">
    </form>
    <script>
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/get', false);
        xhr.send();
        if (xhr.status != 200) {
            alert('Ошибка!')
        } else {
            document.querySelector('#pastaboloniese').value = xhr.responseText;
        }
    </script>
</body>